<h3><%= @opts[:title] %></h3>
<table class="table table-hover table-bordered">
  <% @collection.each do |c| %>
    <%# Get the corresponding basetypeattr or create it if it doesn't exist %>
    <% m = @model.send(@get_instance, c.name) %>
    <%= @f.fields_for @method, m do |fields| %>
      <tr>
        <td><strong><%= fields.label c.name %></strong></td>
        <td><%= fields.text_field @opts[:value] %></td>
      </tr>
    <% end %>
  <% end %>
</table>
