<div class="listing">
  <h3>Attributes</h3>
  <table class="table table-hover">
  <% @model.send(@physattrs_method).each do |a| %>
    <%# Always skip nils %>
    <% next unless a.send(@value) %>
    <%# Only show zero when asked %>
    <% next if a.send(@value) == 0 and not @show_zero %>
    <%# Only show hidden when asked %>
    <% next if a.is_hidden? and not @show_hidden %>
    <tr>
      <td><strong><%= a.name %></strong></td>
      <td><%= sprintf "%+i", a.send(@value) %></td>
    </tr>
  <% end %>
  </table>
</div>
